.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  /* justify-content: space-evenly; */
  align-items: center;
}
.container img {
  max-height: 80px;
  /* border: white 3px solid; */
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
  object-fit: cover;
}
