.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container > * {
  width: 100%;
  margin-bottom: 10px;
}
.container .filler {
  background-color: #242526;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
}
