.homepage {
  /* padding: 0 10px 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .homepage h1 {
  width: 100%;
  border-bottom: 1px solid grey;
  text-align: center;
  padding-bottom: 10px;
} */

@media (max-width: 1200px) {
  .homepage {
    margin: 0 20px 0 20px;
  }
}
